button.MUIDataTableHeadCell-toolButton-55 {
    margin-right: 0;
}

span.MuiButton-label {
    font-weight: bold;
}

/* .MuiSelect-selectMenu.MuiInputBase-input  */
.MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
    padding: 18px 7px 8px;
}
