#form-container.form-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
}

#create-employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 8%;
    margin: auto;
    width: 100%;
}

label {
    display: block;
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
    text-align: left;
    font-weight: bold;
}
input,
select {
    width: 100% !important;
    border: #c4c4c4 1px solid;
    border-radius: 5px;
    padding: 5px 15px;
    height: 36.2px;
}

.submit-btn,
.reset-btn {
    box-shadow: #cfcfcf 0px 3px 5px 0px;
}
